@import '../../colors';

.register {
  text-align: center;
  margin: auto;

  .jumbotron {
    background-color: $colorPrimaryDark;

    .profile-img {
      width: 90px;
      height: 90px;
    }

    .form-text {
      text-align: left;
    }
  }
}

@media (min-width: 992px) {
  .register {
    form {
      margin: auto;
      width: 40%;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .register {
    form {
      margin: auto;
      width: 50%;
    }
  }
}